<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido a Symfony Valencia{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('public/bootstrap/css/bootstrap.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('sf_vlc_main_homepage') }}">SymfonyValencia</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#">Quiénes somos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Próximos eventos</a></li>
                        </ul>
                        <p class="navbar-text pull-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                <a id="logout-link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            {% else %}
                                <a id="login-link" href="{{ path('fos_user_security_login') }}">Accede</a> o
                                <a id="register-link" href="{{ path('fos_user_registration_register') }}">regístrate</a>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hero-unit">
                <h1>Bienvenido a Symfony Valencia</h1>
                <p>Web en desarrollo</p>
            </div>

            {% include '::flash-messages.html.twig' %}

            {% block body %}{% endblock %}

            <hr>
            <footer>
                <p>Web creada por los miembros de SymfonyValencia</p>
            </footer>
        </div>

        <!--
        <script type="text/javascript" src="{{ asset('public/bootstrap/js/bootstrap.min.js') }}"></script>
        -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
