{% extends "::base.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form class="form-signin" id="login" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <input name="_username" type="text" class="input-block-level" placeholder="Usuario">
        <input name="_password" type="password" class="input-block-level" placeholder="Contraseña">

        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label>

        <a id="forget-password-link" href="{{ path('fos_user_resetting_request') }}">¿Has olvidado la contraseña?</a>

        <button type="submit" class="btn btn-large btn-primary">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    </form>
{% endblock %}


